@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:400,700&display=swap&subset=cyrillic,cyrillic-ext');
@font-face{
    font-family: 'BadScript-Regular';
    src: url('../src/fonts/BadScript-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Caveat';
    src: url('../src/fonts/Caveat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Caveat';
    src: url('../src/fonts/Caveat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
/*делаем одинаковым шрифт для всех. Шрифт берем "под ногами"*/
*{
    font-family: 'Caveat', serif;
    font-weight: bold;
}
/*для заголовка берем другой шрифт. Шрифт тянем на лету GoogleFonts https://fonts.google.com/*/
.registrationTitle{
    font-family: 'Cormorant Infant', serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.align-center {
    align-items: center;
}
.col-sm1 {
    flex: 1 1 auto;
}
.col-sm2 {
    flex: 1 1 auto;
    max-width: 100%;
}
.col-sm3{
    margin-bottom: 5px;
    margin-top: 5px;
}
.col-reg-input{
    flex-grow: 2;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: end !important;
    margin: 1px 10px 1px 10px;
}
.text-left {
    text-align: start !important;
    margin: 1px 10px 1px 10px;
}
.in-sm1{
    width: 20%;
    min-width: 150px;
}
.in-sm2{
    width: 15%;
    height: 35px;
    font-size: 18px;
    min-width: 150px;
}
.in-font-size{
    font-size: 18px;
}
.btn {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    letter-spacing: 0.0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: 0.0892857143em;
    text-transform: uppercase;
    transition-duration: 0.28s;
    transition-property: box-shadow, transform, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    min-width: 220px;
}
.btn--contained {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.warning {
     background-color: #fb8c00;
     border-color: #fb8c00;
 }
.fs-container{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}
table {
    border-collapse: collapse;
    width: 50%;
}
td, th{
    border-bottom: 1px solid #ddd;
    width: 250px;
}